<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Corlogic</title>

	<link rel="shortcut icon" type="image/x-icon" href="{{ static('images/favicon.ico') }}" />

	<!-- Vendor Styles -->

	<!-- App Styles -->
	<link rel="stylesheet" href="{{ static('style.css') }}" />

	<!-- App JS -->
	<script>
		var avatarImgSrc = "{{ static('images/temp/pic@3x.jpg') }}";
		var eyeImgSrc = "{{ static('images/eye.png') }}";
		var pencilImgSrc = "{{ static('images/ico-pencil.png') }}";
		var downloadImgSrc = "{{ static('images/ico-download.png') }}";
	</script>
	<script src="{{ static('dashboard.js') }}"></script>
</head>
<body>
<div class="wrapper">
    <header></header>
	<div id="content"></div>
</div><!-- /.wrapper -->
</body>
</html>

