<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Corlogic</title>

	<link rel="shortcut icon" type="image/x-icon" href="{{ static('images/favicon.ico') }}" />

	<!-- Vendor Styles -->

	<!-- App Styles -->
	<link rel="stylesheet" href="{{ static('style.css') }}" />

	<!-- Vendor JS -->
	<script src="{{ static('jquery-1.12.4.min.js') }}"></script>

	<!-- App JS -->
	<script src="{{ static('functions.js') }}"></script>
</head>
<body>
<div class="wrapper">
	<header class="header">
		<div class="header__head">
			<a href="#" class="logo"></a>
		</div><!-- /.header__head -->

		<div class="header__content">
			<div class="search">
			    <form action="" method="get">
			    	<div class="search__inner">
				        <label for="q" class="hidden">Search</label>

				        <input type="text" name="q" id="q" value="" class="search__field" placeholder="Search by patient name, serial number, model number or product family…"/>

				        <button type="submit" class="search__btn">
				        	<i class="ico-search">
				        		<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
								    <path fill="#CED0DA" fill-rule="evenodd" d="M9.222 3.033a4.376 4.376 0 1 0-6.19 6.19 4.376 4.376 0 1 0 6.19-6.19m4.552 10.741a.877.877 0 0 1-1.239 0L9.78 11.017c-2.4 1.794-5.804 1.624-7.984-.557a6.126 6.126 0 0 1 0-8.665 6.126 6.126 0 0 1 8.665 0c2.181 2.18 2.351 5.584.557 7.984l2.757 2.757a.876.876 0 0 1 0 1.238"/>
								</svg>
				        	</i>
				        </button>
				    </div><!-- /.search__inner -->
			    </form>
			</div><!-- /.search -->
		</div><!-- /.header__content -->

		<div class="header__aside">
			<div class="header__actions">
				<a href="#" class="btn btn--green">Upload Sessions</a>
			</div><!-- /.header__actions -->

			<div class="header__nav">
				<div class="header__avatar">
					<a href="#" class="btn-dropdown">

						<img src="{{ static('images/temp/pic@3x.jpg') }}" alt="">

						<i class="ico-arrow-dropdown">
							<svg xmlns="http://www.w3.org/2000/svg" width="7" height="4" viewBox="0 0 7 4">
							    <path fill="#354052" fill-rule="evenodd" d="M3.536 2.657L1.059.18a.494.494 0 0 0-.705.002.504.504 0 0 0-.002.705L3.184 3.72a.493.493 0 0 0 .703 0L6.72.887c.2-.2.194-.51-.001-.705A.504.504 0 0 0 6.012.18L3.536 2.657z" opacity=".5"/>
							</svg>
						</i>
					</a>

					<nav class="nav">
						<ul>
							<li>
								<a href="#">Edit Profile</a>
							</li>

							<li>
								<a href="#">View Activity</a>
							</li>

							<li>
								<a href="#">Manage Roles</a>
							</li>
						</ul>
					</nav><!-- /.nav -->
				</div><!-- /.header__avatar -->

			</div><!-- /.header__nav -->
		</div><!-- /.header__aside -->
	</header><!-- /.header -->



	<div class="main">
		<div class="sidebar">
			<div class="sidebar__inner">
				<div class="sidebar__entry">
					<h6>MENU</h6>
				</div><!-- /.sidebar__entry -->

				<div class="sidebar__nav">
					<ul>
						<li class="active">
							<a href="#">
								<i class="ico-home"></i>

								<span>Dashboard</span>
							</a>
						</li>

						<li>
							<a href="#">
								<i class="ico-patients"></i>

								<span>Patient List</span>
							</a>
						</li>
					</ul>
				</div><!-- /.sidebar__nav -->

				<div class="sidebar__foot">
					<a href="#">
						<h6>NEED HELP?</h6>

						<i class="ico-dropdown">
							<svg xmlns="http://www.w3.org/2000/svg" width="7" height="4" viewBox="0 0 7 4">
							    <path fill="#354052" fill-rule="evenodd" d="M3.536 2.657L1.059.18a.494.494 0 0 0-.705.002.504.504 0 0 0-.002.705L3.184 3.72a.493.493 0 0 0 .703 0L6.72.887c.2-.2.194-.51-.001-.705A.504.504 0 0 0 6.012.18L3.536 2.657z" opacity=".5"/>
							</svg>
						</i>
					</a>
				</div><!-- /.sidebar__foot -->
			</div><!-- /.sidebar__inner -->

			<div class="sidebar__actions">
				<a href="#" class="btn btn--white">
					<i class="ico-gear"></i>
				</a>
			</div><!-- /.sidebar__actions -->
		</div><!-- /.sidebar -->

		<div class="content">
			<div class="content__head">
				<div class="tile">
					<div class="tile__inner">
						<div class="tile__head">
							<div class="tile__entry">
								<h4>Overview</h4>

								<span>Tuesday, June 20th 2017</span>
							</div><!-- /.tile__entry -->

							<a href="#">
								<i class="ico-dots"></i>
							</a>
						</div><!-- /.tile__head -->

						<div class="tile__content">
							<div class="services">
								<div class="service">
									<div class="service__image">
										<i class="ico-transmission">
											<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60">
											    <defs>
											        <linearGradient id="a" x1="50%" x2="50%" y1="0%" y2="98.485%">
											            <stop offset="0%" stop-color="#2EA1F8"/>
											            <stop offset="100%" stop-color="#1990EA"/>
											        </linearGradient>
											    </defs>
											    <g fill="none" fill-rule="evenodd">
											        <rect width="60" height="60" fill="url(#a)" rx="30"/>
											        <rect width="50" height="50" x="5" y="5" stroke="#FFF" stroke-width="2" opacity=".203" rx="25"/>
											        <path fill="#FFF" d="M23 40h2v-4h-2v4zm4 0h2v-8h-2v8zm8 0h2V20h-2v20zm-4 0h2V26h-2v14z"/>
											    </g>
											</svg>
										</i>
									</div><!-- /.service__image -->

									<div class="service__inner">
										<div class="service__head">
											<h1>212</h1>

											<h6>NEW TRANSMISSIONS</h6>
										</div><!-- /.service__head -->
									</div><!-- /.service__inner -->
								</div><!-- /.service -->

								<div class="service">
									<div class="service__image">
										<i class="ico-urgent">
											<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60">
											    <defs>
											        <linearGradient id="b" x1="50%" x2="50%" y1="95.358%" y2="2.081%">
											            <stop offset="0%" stop-color="#b41515"/>
											            <stop offset="100%" stop-color="#d94646"/>
											        </linearGradient>
											    </defs>
											    <g fill="none" fill-rule="evenodd">
											        <rect width="60" height="60" fill="url(#b)" rx="30"/>
											        <rect width="50" height="50" x="5" y="5" stroke="#FFF" stroke-width="2" opacity=".203" rx="25"/>
											        <path fill="#FFF" d="M38 29h-3.712a.504.504 0 0 0-.354.146l-1.401 1.402a.5.5 0 0 1-.785-.101l-2.335-3.987a1 1 0 0 0-1.57-.201l-.499.498.008.014-2.083 2.083a.504.504 0 0 1-.354.146H22v-6a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v6zm0 8a1 1 0 0 1-1 1H23a1 1 0 0 1-1-1v-6h3.745c.133 0 .26-.053.354-.146l1.84-1.841a.5.5 0 0 1 .785.101c2.198 3.752 1.76 3.001 2.319 3.964a1 1 0 0 0 1.57.206l2.148-2.138a.495.495 0 0 1 .352-.146H38v6zm0-17H22a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V22a2 2 0 0 0-2-2z"/>
											    </g>
											</svg>
										</i>
									</div><!-- /.service__image -->

									<div class="service__inner">
										<div class="service__head">
											<h1>12</h1>

											<h6>URGENT TRANSMISSIONS</h6>
										</div><!-- /.service__head -->
									</div><!-- /.service__inner -->
								</div><!-- /.service -->

								<div class="service">
									<div class="service__image">
										<i class="ico-login">
											<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60">
											    <defs>
											        <linearGradient id="c" x1="50%" x2="50%" y1="97.784%" y2="1.559%">
											            <stop offset="0%" stop-color="#fd9a18"/>
											            <stop offset="100%" stop-color="#f8c95d"/>
											        </linearGradient>
											    </defs>
											    <g fill="none" fill-rule="evenodd">
											        <rect width="60" height="60" fill="url(#c)" rx="30"/>
											        <rect width="50" height="50" x="5" y="5" stroke="#FFF" stroke-width="2" opacity=".203" rx="25"/>
											        <path fill="#FFF" d="M34 25c0-2.206-1.794-4-4-4s-4 1.794-4 4 1.794 4 4 4 4-1.794 4-4zm6 14h-5v-2h2.784c-.826-3.786-3.999-6-7.784-6-3.785 0-6.958 2.214-7.784 6H25v2h-5c0-4.555 2.583-7.952 6.242-9.327A5.983 5.983 0 0 1 24 25a6 6 0 1 1 9.758 4.673C37.417 31.048 40 34.445 40 39zm-7.586-5.243l1.414 1.415L30 39l-2.828-2.828 1.414-1.415L30 36.172l2.414-2.415z"/>
											    </g>
											</svg>
										</i>
									</div><!-- /.service__image -->

									<div class="service__inner">
										<div class="service__head">
											<h1>48 mins</h1>

											<h6>SINCE LAST LOGIN</h6>
										</div><!-- /.service__head -->
									</div><!-- /.service__inner -->
								</div><!-- /.service -->
							</div><!-- /.services -->
						</div><!-- /.tile__content -->
					</div><!-- /.tile__inner -->
				</div><!-- /.tile -->

				<div class="tile tile--empty">
					<div class="tile__inner">
						<div class="tile__head">
							<h4>Notes</h4>
						</div><!-- /.tile__head -->
					</div><!-- /.tile__inner -->
				</div><!-- /.tile -->
			</div><!-- /.content__head -->

			<div class="content__inner">
				<div class="message">
					<div class="message__inner">
						<div class="message__image">
							<i class="ico-info">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
								    <g fill="none" fill-rule="evenodd">
								        <g transform="translate(-11 -10)">
								            <rect width="520" height="36" fill="transparent" rx="4"/>
								            <path fill="#FFF" d="M17.38 22.006c-.213 0-.385-.201-.385-.448s.172-.448.385-.448L18 21v-3l-.62-.116c-.213 0-.385-.201-.385-.448s.172-.448.385-.448h2.514c.077 0 .102-.032.113-.058-.003.015-.007.029-.007.07v4l.619.11c.213 0 .386.201.386.448s-.173.448-.386.448H17.38zM18 14h.98c.007 0 .013-.004.02-.004.007 0 .013.004.02.004H20v.94c.001.022.012.04.012.061 0 .022-.011.04-.012.061V16h-.967c-.012.001-.022.007-.033.007-.012 0-.022-.006-.033-.007H18v-.939c-.002-.021-.013-.038-.013-.06 0-.021.011-.039.013-.06V14zm-7 4a8 8 0 1 0 16 0 8 8 0 0 0-16 0z" opacity=".7"/>
								        </g>
								    </g>
								</svg>
							</i>
						</div><!-- /.message__image -->

						<div class="message__content">
							<p>Success! The transmission has been archived.</p>
						</div><!-- /.message__content -->

						<div class="message__close">
							<a href="#" class="btn-close">
								<i class="ico-close"></i>
							</a>
						</div><!-- /.message__close -->
					</div><!-- /.message__inner -->
				</div><!-- /.message -->
			</div><!-- /.content__inner -->

			<div class="content__body">
				<div class="profile">
					<div class="profile__head">
						<h4>New Transmissions</h4>
					</div><!-- /.profile__head -->

					<div class="profile__body">
						<div class="table">
							<div class="table__head">
								<div class="table-items">
									<div class="table-item table-item--lg">
										<h5>Name of Patient</h5>
									</div><!-- /.table-item table-item-/-lg -->

									<div class="table-item table-item--md">
										<h5>Date of Birth</h5>
									</div><!-- /.table-item table-item-/-md -->

									<div class="table-item table-item--md">
										<h5>Device</h5>
									</div><!-- /.table-item table-item-/-md -->

									<div class="table-item table-item--md">
										<h5>Created</h5>
									</div><!-- /.table-item table-item-/-md -->

									<div class="table-item table-item--md">
										<a href="#">

											<h5>Alert</h5>

											<i class="ico-arrow-dropdown">
												<svg xmlns="http://www.w3.org/2000/svg" width="7" height="4" viewBox="0 0 7 4">
												    <path fill="#354052" fill-rule="evenodd" d="M3.536 2.657L1.059.18a.494.494 0 0 0-.705.002.504.504 0 0 0-.002.705L3.184 3.72a.493.493 0 0 0 .703 0L6.72.887c.2-.2.194-.51-.001-.705A.504.504 0 0 0 6.012.18L3.536 2.657z" opacity=".5"/>
												</svg>
											</i>
										</a>

									</div><!-- /.table-item table-item-/-md -->

									<div class="table-item table-item--md">
										<h5>Vendor</h5>
									</div><!-- /.table-item table-item-/-md -->

									<div class="table-item table-item--sm">

									</div><!-- /.table-item table-item-/-sm -->
								</div><!-- /.table-items -->
							</div><!-- /.table__head -->

							<div class="table__body">
								<div class="table__group">
									<div class="table-items">
										<div class="table-item table-item--lg table-item--fluid">
											<h5>Mike Jones</h5>
										</div><!-- /.table-item table-item-/-lg table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>01/14/2017</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>PM2240</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>15 Dec 2016</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>
												<span class="tag tag--red">
													ERI
												</span>
											</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>SJM</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--sm table-item--center">
											<a href="#" class="btn btn--blue">Archive</a>

											<a href="#">

											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15">
											    <path fill="#C5D0DE" fill-rule="evenodd" d="M7.241 10.711a1 1 0 0 0 .708.293c.013 0 .023-.007.036-.007L8 11c.337 0 .62-.177.801-.431l2.894-2.882a.997.997 0 0 0 0-1.414 1.004 1.004 0 0 0-1.417 0L9 7.544V1a1 1 0 1 0-2 0v6.62L5.691 6.281a1.003 1.003 0 0 0-1.416 0 .997.997 0 0 0 0 1.414l2.966 3.016zM15 9a1 1 0 0 0-1 1v2a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-2a1 1 0 1 0-2 0v3a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-3a1 1 0 0 0-1-1z"/>
											</svg>
											</a>
										</div><!-- /.table-item table-item-/-sm table-item-center -->
									</div><!-- /.table-items -->
								</div><!-- /.table__group -->

								<div class="table__group">
									<div class="table-items">
										<div class="table-item table-item--lg table-item--fluid">
											<h5>James Day</h5>
										</div><!-- /.table-item table-item-/-lg table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>12/06/2017</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>ADDR23343</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>19 Dec 2016</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>
												<span class="tag tag--red">
													IV
												</span>
											</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>BSX</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--sm table-item--center">
											<a href="#" class="btn btn--blue">Archive</a>

											<a href="#">

											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15">
											    <path fill="#C5D0DE" fill-rule="evenodd" d="M7.241 10.711a1 1 0 0 0 .708.293c.013 0 .023-.007.036-.007L8 11c.337 0 .62-.177.801-.431l2.894-2.882a.997.997 0 0 0 0-1.414 1.004 1.004 0 0 0-1.417 0L9 7.544V1a1 1 0 1 0-2 0v6.62L5.691 6.281a1.003 1.003 0 0 0-1.416 0 .997.997 0 0 0 0 1.414l2.966 3.016zM15 9a1 1 0 0 0-1 1v2a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-2a1 1 0 1 0-2 0v3a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-3a1 1 0 0 0-1-1z"/>
											</svg>
											</a>
										</div><!-- /.table-item table-item-/-sm table-item-center -->
									</div><!-- /.table-items -->
								</div><!-- /.table__group -->

								<div class="table__group">
									<div class="table-items">
										<div class="table-item table-item--lg table-item--fluid">
											<h5>Felicia Antoni</h5>
										</div><!-- /.table-item table-item-/-lg table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>01/05/2017</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>STEROX334</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>25 Dec 2016</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>
												<span class="tag tag--red">
													VF
												</span>
											</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>MDT</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--sm table-item--center">
											<a href="#" class="btn btn--blue">Archive</a>

											<a href="#">

											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15">
											    <path fill="#C5D0DE" fill-rule="evenodd" d="M7.241 10.711a1 1 0 0 0 .708.293c.013 0 .023-.007.036-.007L8 11c.337 0 .62-.177.801-.431l2.894-2.882a.997.997 0 0 0 0-1.414 1.004 1.004 0 0 0-1.417 0L9 7.544V1a1 1 0 1 0-2 0v6.62L5.691 6.281a1.003 1.003 0 0 0-1.416 0 .997.997 0 0 0 0 1.414l2.966 3.016zM15 9a1 1 0 0 0-1 1v2a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-2a1 1 0 1 0-2 0v3a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-3a1 1 0 0 0-1-1z"/>
											</svg>
											</a>
										</div><!-- /.table-item table-item-/-sm table-item-center -->
									</div><!-- /.table-items -->
								</div><!-- /.table__group -->

								<div class="table__group">
									<div class="table-items">
										<div class="table-item table-item--lg table-item--fluid">
											<h5>Marg Simpson </h5>
										</div><!-- /.table-item table-item-/-lg table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>12/03/2017</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>KAPPA334</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>28 Dec 2016</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>
												<span class="tag tag--red">
													BACKUP MODE
												</span>
											</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>BIO</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--sm table-item--center">
											<a href="#" class="btn btn--blue">Archive</a>

											<a href="#">

											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15">
											    <path fill="#C5D0DE" fill-rule="evenodd" d="M7.241 10.711a1 1 0 0 0 .708.293c.013 0 .023-.007.036-.007L8 11c.337 0 .62-.177.801-.431l2.894-2.882a.997.997 0 0 0 0-1.414 1.004 1.004 0 0 0-1.417 0L9 7.544V1a1 1 0 1 0-2 0v6.62L5.691 6.281a1.003 1.003 0 0 0-1.416 0 .997.997 0 0 0 0 1.414l2.966 3.016zM15 9a1 1 0 0 0-1 1v2a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-2a1 1 0 1 0-2 0v3a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-3a1 1 0 0 0-1-1z"/>
											</svg>
											</a>
										</div><!-- /.table-item table-item-/-sm table-item-center -->
									</div><!-- /.table-items -->
								</div><!-- /.table__group -->

								<div class="table__group">
									<div class="table-items">
										<div class="table-item table-item--lg table-item--fluid">
											<h5>Tony McGill</h5>
										</div><!-- /.table-item table-item-/-lg table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>05/23/2017</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>96547823</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>30 Dec 2016</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>
												<span class="tag tag--yellow">
													ATAF
												</span>
											</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>BIO</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--sm table-item--center">
											<a href="#" class="btn btn--blue">Archive</a>

											<a href="#">

											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15">
											    <path fill="#C5D0DE" fill-rule="evenodd" d="M7.241 10.711a1 1 0 0 0 .708.293c.013 0 .023-.007.036-.007L8 11c.337 0 .62-.177.801-.431l2.894-2.882a.997.997 0 0 0 0-1.414 1.004 1.004 0 0 0-1.417 0L9 7.544V1a1 1 0 1 0-2 0v6.62L5.691 6.281a1.003 1.003 0 0 0-1.416 0 .997.997 0 0 0 0 1.414l2.966 3.016zM15 9a1 1 0 0 0-1 1v2a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-2a1 1 0 1 0-2 0v3a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-3a1 1 0 0 0-1-1z"/>
											</svg>
											</a>
										</div><!-- /.table-item table-item-/-sm table-item-center -->
									</div><!-- /.table-items -->
								</div><!-- /.table__group -->

								<div class="table__group">
									<div class="table-items">
										<div class="table-item table-item--lg table-item--fluid">
											<h5>Andrea Barton</h5>
										</div><!-- /.table-item table-item-/-lg table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>03/20/2017</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>ADDR23343</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>01 Jan 2017</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>
												<span class="tag tag--yellow">
													IV
												</span>
											</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>SJM</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--sm table-item--center">
											<a href="#" class="btn btn--blue">Archive</a>

											<a href="#">

											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15">
											    <path fill="#C5D0DE" fill-rule="evenodd" d="M7.241 10.711a1 1 0 0 0 .708.293c.013 0 .023-.007.036-.007L8 11c.337 0 .62-.177.801-.431l2.894-2.882a.997.997 0 0 0 0-1.414 1.004 1.004 0 0 0-1.417 0L9 7.544V1a1 1 0 1 0-2 0v6.62L5.691 6.281a1.003 1.003 0 0 0-1.416 0 .997.997 0 0 0 0 1.414l2.966 3.016zM15 9a1 1 0 0 0-1 1v2a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-2a1 1 0 1 0-2 0v3a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-3a1 1 0 0 0-1-1z"/>
											</svg>
											</a>
										</div><!-- /.table-item table-item-/-sm table-item-center -->
									</div><!-- /.table-items -->
								</div><!-- /.table__group -->

								<div class="table__group">
									<div class="table-items">
										<div class="table-item table-item--lg table-item--fluid">
											<h5>Ian Cox</h5>
										</div><!-- /.table-item table-item-/-lg table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>06/18/2017</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>ADDR23343</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>02 Jan 2017</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>
												<span class="tag tag--grey">

												</span>
											</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>BSX</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--sm table-item--center">
											<a href="#" class="btn btn--blue">Archive</a>

											<a href="#">

											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15">
											    <path fill="#C5D0DE" fill-rule="evenodd" d="M7.241 10.711a1 1 0 0 0 .708.293c.013 0 .023-.007.036-.007L8 11c.337 0 .62-.177.801-.431l2.894-2.882a.997.997 0 0 0 0-1.414 1.004 1.004 0 0 0-1.417 0L9 7.544V1a1 1 0 1 0-2 0v6.62L5.691 6.281a1.003 1.003 0 0 0-1.416 0 .997.997 0 0 0 0 1.414l2.966 3.016zM15 9a1 1 0 0 0-1 1v2a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-2a1 1 0 1 0-2 0v3a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-3a1 1 0 0 0-1-1z"/>
											</svg>
											</a>
										</div><!-- /.table-item table-item-/-sm table-item-center -->
									</div><!-- /.table-items -->
								</div><!-- /.table__group -->

								<div class="table__group">
									<div class="table-items">
										<div class="table-item table-item--lg table-item--fluid">
											<h5>Estella Delgado</h5>
										</div><!-- /.table-item table-item-/-lg table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>03/07/2017</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>PM2240</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>04 Jan 2017</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>
												<span class="tag tag--grey">

												</span>
											</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>MDT</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--sm table-item--center">
											<a href="#" class="btn btn--blue">Archive</a>

											<a href="#">

											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15">
											    <path fill="#C5D0DE" fill-rule="evenodd" d="M7.241 10.711a1 1 0 0 0 .708.293c.013 0 .023-.007.036-.007L8 11c.337 0 .62-.177.801-.431l2.894-2.882a.997.997 0 0 0 0-1.414 1.004 1.004 0 0 0-1.417 0L9 7.544V1a1 1 0 1 0-2 0v6.62L5.691 6.281a1.003 1.003 0 0 0-1.416 0 .997.997 0 0 0 0 1.414l2.966 3.016zM15 9a1 1 0 0 0-1 1v2a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-2a1 1 0 1 0-2 0v3a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-3a1 1 0 0 0-1-1z"/>
											</svg>
											</a>
										</div><!-- /.table-item table-item-/-sm table-item-center -->
									</div><!-- /.table-items -->
								</div><!-- /.table__group -->

								<div class="table__group">
									<div class="table-items">
										<div class="table-item table-item--lg table-item--fluid">
											<h5>Dustin Sutton</h5>
										</div><!-- /.table-item table-item-/-lg table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>08/22/2017</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>KAPPA334</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>05 Jan 2017</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>
												<span class="tag tag--green">

												</span>
											</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>MDT</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--sm table-item--center">
											<a href="#" class="btn btn--blue">Archive</a>

											<a href="#">

											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15">
											    <path fill="#C5D0DE" fill-rule="evenodd" d="M7.241 10.711a1 1 0 0 0 .708.293c.013 0 .023-.007.036-.007L8 11c.337 0 .62-.177.801-.431l2.894-2.882a.997.997 0 0 0 0-1.414 1.004 1.004 0 0 0-1.417 0L9 7.544V1a1 1 0 1 0-2 0v6.62L5.691 6.281a1.003 1.003 0 0 0-1.416 0 .997.997 0 0 0 0 1.414l2.966 3.016zM15 9a1 1 0 0 0-1 1v2a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-2a1 1 0 1 0-2 0v3a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-3a1 1 0 0 0-1-1z"/>
											</svg>
											</a>
										</div><!-- /.table-item table-item-/-sm table-item-center -->
									</div><!-- /.table-items -->
								</div><!-- /.table__group -->

								<div class="table__group">
									<div class="table-items">
										<div class="table-item table-item--lg table-item--fluid">
											<h5>Daisy Simpson</h5>
										</div><!-- /.table-item table-item-/-lg table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>12/17/2017</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>PM2240</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>07 Jan 2017</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>
												<span class="tag tag--green">

												</span>
											</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>MDT</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--sm table-item--center">
											<a href="#" class="btn btn--blue">Archive</a>

											<a href="#">

											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15">
											    <path fill="#C5D0DE" fill-rule="evenodd" d="M7.241 10.711a1 1 0 0 0 .708.293c.013 0 .023-.007.036-.007L8 11c.337 0 .62-.177.801-.431l2.894-2.882a.997.997 0 0 0 0-1.414 1.004 1.004 0 0 0-1.417 0L9 7.544V1a1 1 0 1 0-2 0v6.62L5.691 6.281a1.003 1.003 0 0 0-1.416 0 .997.997 0 0 0 0 1.414l2.966 3.016zM15 9a1 1 0 0 0-1 1v2a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-2a1 1 0 1 0-2 0v3a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-3a1 1 0 0 0-1-1z"/>
											</svg>
											</a>
										</div><!-- /.table-item table-item-/-sm table-item-center -->
									</div><!-- /.table-items -->
								</div><!-- /.table__group -->

								<div class="table__group">
									<div class="table-items">
										<div class="table-item table-item--lg table-item--fluid">
											<h5>Jerome Kelley</h5>
										</div><!-- /.table-item table-item-/-lg table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>04/13/2017</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>KAPPA334</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>08 Jan 2017</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>
												<span class="tag tag--green">

												</span>
											</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--md table-item--fluid">
											<p>SJM</p>
										</div><!-- /.table-item table-item-/-md table-item-/-fluid -->

										<div class="table-item table-item--sm table-item--center">
											<a href="#" class="btn btn--blue">Archive</a>

											<a href="#">

											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15">
											    <path fill="#C5D0DE" fill-rule="evenodd" d="M7.241 10.711a1 1 0 0 0 .708.293c.013 0 .023-.007.036-.007L8 11c.337 0 .62-.177.801-.431l2.894-2.882a.997.997 0 0 0 0-1.414 1.004 1.004 0 0 0-1.417 0L9 7.544V1a1 1 0 1 0-2 0v6.62L5.691 6.281a1.003 1.003 0 0 0-1.416 0 .997.997 0 0 0 0 1.414l2.966 3.016zM15 9a1 1 0 0 0-1 1v2a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-2a1 1 0 1 0-2 0v3a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-3a1 1 0 0 0-1-1z"/>
											</svg>
											</a>
										</div><!-- /.table-item table-item-/-sm table-item-center -->
									</div><!-- /.table-items -->
								</div><!-- /.table__group -->
							</div><!-- /.table__body -->
						</div><!-- /.table -->
					</div><!-- /.profile__body -->
				</div><!-- /.profile -->
			</div><!-- /.content__body -->
		</div><!-- /.content -->
	</div><!-- main -->
</div><!-- /.wrapper -->
</body>
</html>

