<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Corlogic</title>

	<link rel="shortcut icon" type="image/x-icon" href="{{ static('images/favicon.ico') }}" />

	<!-- Vendor Styles -->

	<!-- App Styles -->
	<link rel="stylesheet" href="{{ static('style.css') }}" />

	<!-- App JS -->
	<script>
		var avatarImgSrc = "{{ static('images/temp/pic@3x.jpg') }}";
	</script>
	<script src="{{ static('dashboard.js') }}"></script>
</head>
<body>
<div class="wrapper">
	<header></header>

	<div class="main">
		<div class="sidebar">
			<div class="sidebar__inner">
				<div class="sidebar__entry">
					<h6>MENU</h6>
				</div><!-- /.sidebar__entry -->

				<div class="sidebar__nav">
					<ul>
						<li class="active">
							<a href="#">
								<i class="ico-home"></i>

								<span>Dashboard</span>
							</a>
						</li>

						<li>
							<a href="#">
								<i class="ico-patients"></i>

								<span>Patient List</span>
							</a>
						</li>
					</ul>
				</div><!-- /.sidebar__nav -->

				<div class="sidebar__foot">
					<a href="#">
						<h6>NEED HELP?</h6>

						<i class="ico-dropdown">
							<svg xmlns="http://www.w3.org/2000/svg" width="7" height="4" viewBox="0 0 7 4">
							    <path fill="#354052" fill-rule="evenodd" d="M3.536 2.657L1.059.18a.494.494 0 0 0-.705.002.504.504 0 0 0-.002.705L3.184 3.72a.493.493 0 0 0 .703 0L6.72.887c.2-.2.194-.51-.001-.705A.504.504 0 0 0 6.012.18L3.536 2.657z" opacity=".5"/>
							</svg>
						</i>
					</a>
				</div><!-- /.sidebar__foot -->
			</div><!-- /.sidebar__inner -->

			<div class="sidebar__actions">
				<a href="#" class="btn btn--white">
					<i class="ico-gear"></i>
				</a>
			</div><!-- /.sidebar__actions -->
		</div><!-- /.sidebar -->

		<div class="content">
			<div class="content__head">

				<div id="overview-box"></div>

				<div class="tile tile--empty">
					<div class="tile__inner">
						<div class="tile__head">
							<h4>Notes</h4>
						</div><!-- /.tile__head -->
					</div><!-- /.tile__inner -->
				</div><!-- /.tile -->
			</div><!-- /.content__head -->

			<div id="message-box"></div>

			<div id="transmissions-table"></div>

		</div><!-- /.content -->
	</div><!-- main -->
</div><!-- /.wrapper -->
</body>
</html>

