/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn { display: inline-block; vertical-align: middle; text-align: center; cursor: pointer; padding: 9px 22px 8px; font-size: 14px; font-weight: 600; text-align: center; line-height: 1.36; border-width: 1px; border-style: solid; border-radius: 4px; transition: background .3s; text-decoration: none;
	-webkit-appearance: none;
	   -moz-appearance: none;
	 		appearance: none;
}

.btn a { text-decoration: none }


.btn--select > .btn { cursor: pointer; padding: 1rem; margin: 1.5rem 0rem; width: 25%; }
.btn--select > input { display: none; }


/*  Button Block  */
.btn-block { display: block; padding-left: 0; padding-right: 0; width: 100%; }

.btn-show { position: absolute; top: 50%; right: 15px; transform: translateY(-50%); text-decoration: none; border-left: 1px solid #e6eaee; font-size: 12px; font-weight: 600; color: #7f8fa4; padding-left: 16px; border-color: #249533; }

.btn--green { background-image: linear-gradient(to bottom, #39b54a, #34aa44); color: #fff; }
.btn--green:hover { background-image: linear-gradient(to bottom, #34aa44, #39b54a); }

.btn--white { background: #fff; border-color: #dfe3e9; text-decoration: none; color: #354052; }
.btn--white:hover { background: #354052; color: #fff; }

.btn-dropdown { margin-left: 6px; }

.btn--blue { background-image: linear-gradient(to top, #1991eb, #2da1f8); color: #fff; padding: 9px 22px 8px; transition: opacity .3s; }
.btn--blue:hover { opacity: .6; }

.btn--symbol { font-size: 28px; padding: 0px 10px; }

.btn--gray { background-image: linear-gradient(to top, #191919, #2d2d2d); opacity: .3; color: #fff; padding: 9px 22px 8px; transition: opacity .3s; }
