/* ------------------------------------------------------------ *\
	Form Elements
\* ------------------------------------------------------------ */

input::placeholder { color: inherit; opacity: 1; }
input:-webkit-autofill { -webkit-text-fill-color: inherit; -webkit-box-shadow: 0 0 0 1000px #fff inset; }

textarea::placeholder { color: inherit; opacity: 1; }
textarea.textarea__modal { margin: 1% 5%; height: 75%; width: 90% }
.btn--group__modal { margin-right: 3em; float: right;}
.modal--header { padding: 1% 2%; }
.modal--header ul { margin: 0% 5%; }

.radio {}

.field { border: 1px solid #dfe3e9; padding: 9px 17px 6px; font-size: 14px; line-height: 1.36; font-weight: 600; color: #354052; background: #fff; width: 100%; border-radius: 4px; }

.select { max-width: 340px; position: relative; }
.select:after { content: ''; position: absolute; top: 0; bottom: 0; right: 13px; background-image: url(../css/images/sprite/ico-dropdown.png); width: 5px; height: 5px; transform: rotate(-45deg); display: inline-block; margin: auto; }
.select select { width: 100%; background-image: linear-gradient(to top, #f2f4f7 0%, #ffffff 100%); color: #354052; padding: 9px 14px 8px; border: 1px solid #ced0da; border-radius: 4px; -webkit-appearance: none; -moz-appearance: none; }

select::-ms-expand { display: none; }

.checkbox { position: relative; }
.checkbox .form-label:before { content: ''; width: 16px; height: 16px; border: 1px solid #e6e8ed; border-radius: 2px; position: absolute; top: 1px; left: 0; color: #494949; }
.checkbox input { display: none; }

.checkbox input:checked + label:before { background: #359be0 url(../css/images/sprite/ico-check.png) no-repeat center center; }

.list-checks .form-label { color: #4a4a4a; font-weight: 300; font-size: 14px;opacity: 1; padding-left: 20px; }
