/* ------------------------------------------------------------ *\
	Box
\* ------------------------------------------------------------ */

.box .box__body { display: flex; }
.box .box__content { max-width: 340px; width: 340px; background: #fff; }
.box .box__image { max-width: 480px; width: 480px; background-size: cover; background-position: center; background-repeat: no-repeat; color: #fff; padding: 27px 33px; display: flex; flex-direction: column; justify-content: flex-end; }
.box .box__image h2 { font-weight: 400; margin-bottom: 7px; }
.box .box__image p { font-size: 16px; }
.box .box__head { position: relative; margin-bottom: 14px; }
.box .box__head i { position: absolute; top: -22px; left: 30px; }

/* ------------------------------------------------------------ *\
	Box Notes
\* ------------------------------------------------------------ */

.box--notes { background: #fff; border-radius: 4px; }
.box--notes .box__body ul + ul { margin-left: 40px; }
.box--notes .box__inner { padding: 9px 13px; }
.box--notes .box__inner textarea { padding: 9px 13px; width: 100%; }
.box--notes .box__head { margin-bottom: 2px; }
.box--notes .btn--wide { width: 100%; }
.box--notes + .box--notes { margin-top: 13px; }
.box--notes .ico-close { background-image: url(../css/images/sprite/ico-close.png); display: block; position: relative; top: -15px; left: 95%; cursor: pointer; cursor: hand; }

