/* ------------------------------------------------------------ *\
	Profile
\* ------------------------------------------------------------ */

.profile { background: #fff; border-radius: 4px; border: 1px solid #dfe2e5; padding-top: 25px; }
.profile .profile__head { padding-bottom: 16px; padding-left: 30px; }
.profile .profile__head h4 { color: #354052; font-weight: 400; }

/* ------------------------------------------------------------ *\
	Profile List
\* ------------------------------------------------------------ */

.profile--list { padding-top: 5px; }
.profile--list .profile__head { padding: 20px 30px 0px; }

