/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header { background: #fff; border: 1px solid #dfe3e9; display: flex; flex-direction: row; height: 70px; padding: 0 30px 0 0; width: 100%; }

.header .header__head { min-height: 70px; border-bottom: 1px solid #dfe2e5; width: 16%; max-width: 16%; border-right: 1px solid #dfe2e5; position: relative; }
.header .header__head .logo { position: absolute; top: 0; bottom: 0; margin: auto; left: 30px; }

.header .header__content { max-width: 57%; width: 57%; align-self: center; padding-left: 30px; }

.header .header__aside { display: flex; justify-content: flex-end; align-items: center; flex-grow: 1; }

.header .header__avatar { position: relative; }
.header .header__avatar a { text-decoration: none; }
.header .header__avatar img { width: 36px; height: 36px; border-radius: 50%; margin-right: 6px; }

.header .header__actions { border-right: 1px solid #e6eaee; padding-right: 30px; margin-right: 23px; }
