/* ------------------------------------------------------------ *\
	Sidebar
\* ------------------------------------------------------------ */

.sidebar { width: 250px; border: 1px solid #dfe2e5; min-height: 100vh; /* min-height: calc( 100vh - 10px ); */ background: #fff; position: relative; }
.sidebar h6 { color: #7f8fa4; line-height: 1.17; }

.sidebar .sidebar__inner { padding: 25px 0; }

.sidebar .sidebar__entry { padding: 0 30px; margin-bottom: 10px; }

.sidebar .sidebar__nav { margin-bottom: 30px; }
.sidebar .sidebar__nav a { text-decoration: none; padding: 9px 30px 9px; display: block; }
.sidebar .sidebar__nav span { font-weight: 600; padding-left: 18px; color: #7f8fa4; }

.sidebar .sidebar__nav .active a { border-left: 2px solid #1990ea; }
.sidebar .sidebar__nav .active span { color: #354052; }

.sidebar .sidebar__nav:hover a { border-left: 2px solid #1990ea; }
.sidebar .sidebar__nav:hover span { color: #354052; }

.sidebar .sidebar__foot { margin: 0 20px; border-bottom: 1px solid #e6eaee; padding-bottom: 16px; }
.sidebar .sidebar__foot a { text-decoration: none; width: 100%; position: relative; display: block; }
.sidebar .sidebar__foot i { position: absolute; top: 0; right: 11px; }
.sidebar .sidebar__foot h6 { display: inline; vertical-align: middle; }

.sidebar .sidebar__actions { position: absolute; bottom: 74px; left: 0; right: 0; width: 46px; margin: auto; }
