/* ------------------------------------------------------------ *\
	Content
\* ------------------------------------------------------------ */

.content { padding: 31px 30px 61px; min-width: 710px; width: 1325px; }
.content .content__head { display: flex; flex-direction: row; margin-bottom: 30px; flex-wrap: wrap; justify-content: space-between; margin-top: -30px; }

.content .content__inner { margin-bottom: 30px; }

/* ------------------------------------------------------------ *\
	Content List
\* ------------------------------------------------------------ */

.content--list { display: flex; justify-content: space-between; width: 87%; }

.content--list .content__aside { max-width: 440px; width: 440px; margin-left: 15px; }


/* ------------------------------------------------------------ *\
	Content Patient
\* ------------------------------------------------------------ */

.content--patient { width: 930px; }