/* ------------------------------------------------------------ *\
	Content
\* ------------------------------------------------------------ */

.content { padding: 31px 30px 61px; min-width: 710px; width: 1325px; }
.content .content__head { display: flex; flex-direction: row; margin-bottom: 30px; flex-wrap: wrap; justify-content: space-between; margin-top: -30px; }
.content__head > .preview { margin: 1.5rem 0rem 1rem 0rem; }

.content .content__inner { margin-bottom: 30px; width: 100%; }

/* ------------------------------------------------------------ *\
	Content List
\* ------------------------------------------------------------ */

.content--list { display: flex; justify-content: space-between; width: 87%; }

.content--list .content__aside { max-width: 540px; width: 540px; margin-left: 15px; }


/* ------------------------------------------------------------ *\
	Content Patient
\* ------------------------------------------------------------ */

.content--patient { width: 930px; }
